<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flood Monitoring Web Application{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Flood Monitoring</h1>
        <nav>
            <a href="/">Home</a>
            <!-- <a href="/stations/">Stations</a> -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Develped by Muhammad Jawad, Acknowledgement: Environment Agency Real Time flood-monitoring API</p>
    </footer>
</body>
</html>